* {
  margin: 0;
  padding: 0;
}


.fade {
  opacity: .1;
   transition: opacity 2s ease-in;
   -moz-transition: opacity 2s ease-in;
   -webkit-transition: opacity 2s ease-in;
   z-index: 1;
   height: 100%;
   width: 100%;
   }

 .fade:hover {
      opacity: 1;
}

.container {
  height: 100%;
  width: 100%;
}

.text {
display: block;
}

div.text {
  position: absolute;
  margin-left:6%;
  top:7%;
  z-index: -1;
}

h1 {
  font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
  font-style: lighter;
  font-size: 30px;
  color: black;
  letter-spacing: 10px;
  text-align: center;  
}

h3{
  text-align: center;
  font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
  font-style: lighter;
  font-size: 30px;
  padding-top:200px;
  text-align: center;
  letter-spacing: 5px;
  }

h2{
  text-align: center;
  font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
  font-style: lighter;
  font-size: 25px;
  padding-top:200px;
  text-align: center;
  letter-spacing: 6px;
  
  }

a:link {
  color: black;
  font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
    font-style: lighter;
  text-decoration: none;

}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ED21A2;
  text-decoration: none;
}