

html {
	height:100%;
	width: 100%;
}

body {
	background-color: black;
	max-height: 100%;
	max-width: 100%;
}

h1 {
	text-align: center;
	
}

div.title {
	font-family:'Maria Pro',Helvetica,Arial,sans-serif;
	font-size: 100%;
	color: white;
	letter-spacing: 26px;
	width: 100%;
	padding-top: 1%;
	margin-top: 3%;
	margin-bottom: 3%;
}


.title2 {
	font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
	font-size: 100%;
	color: white;
	letter-spacing: 26px;
	width: 100%;
	padding-bottom: 2%;
	padding-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}


div.images{
	display: inline block;
	padding-left: 12%;
	padding-bottom: 5%;
	width: 100%;
}

div.images2{
	display: inline block;
	padding-left: 12%;
	padding-bottom: 5%;
	width: 100%
}

.foto{
	display: inline;
	margin: 3% 3% 3% 3%;
	opacity: .01;
	}

.foto:hover{
	opacity: 0.9;
	filter: alpha(opacity=30);
	border-color: white;
	border-width: 4px;
	}







